.github-item{
    width: 220px;
    height: 400px;
    background-color: #EAEAEA;
    margin: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.github-item img{
    width: 80%;
    margin: 0 auto;
}
.github-item .title{
    font-size: 25px;
    padding: 15px 0;
}
.github-item .name{
    color: indianred;
    font-weight: 500;
}
.github-item .item-det{
    text-align: left;
    margin: 0 auto;
}
@media (max-width: 740px) {
    .github-item{
      width: 200px;
    }
}
@media (max-width:450px) {
    .github-item{
      width: 350px;
      height: 500px;
    }
  }